# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Docker Data Files (postgres, minio, valkey etc.)
docker/data
docker/data/postgres

# Certificate Files (For local traefik)
packages/certs/*.crt
packages/certs/*.key
packages/certs/*.csr
packages/certs/*.ext

# My personal notes
PERSONAL-NOTES.md

# Local traefik settings
traefik.yml
traefik-dynamic.yml
"*.local"